@tailwind base;
@tailwind components;
@tailwind utilities;


.el-button--danger{
  --el-button-bg-color:#ef4444;
  --el-button-border-color:#ef4444;
}
@layer components{
  .el-input{
    --el-input-focus-border-color:rgba(0, 0, 0, 0.3);
  }
}

